In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [13]:
# Read the data
btcusdt_df = pd.read_csv('data/BTCUSDT.csv')

In [14]:
btcusdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049843 entries, 0 to 1049842
Data columns (total 12 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   open_time                     1049843 non-null  object
 1   open                          1049843 non-null  float64
 2   high                          1049843 non-null  float64
 3   low                           1049843 non-null  float64
 4   close                         1049843 non-null  float64
 5   volume                        1049843 non-null  float64
 6   close_time                    1049843 non-null  object
 7   quote_asset_volume            1049843 non-null  float64
 8   number_of_trades              1049843 non-null  float64
 9   taker_buy_base_asset_volume   1049843 non-null  float64
 10  taker_buy_quote_asset_volume  1049843 non-null  float64
 11  ignore                        1049843 non-null  int64
dtypes: float64(9), int64(1), object(2)
memory usage: 96.1+ MB

In [15]:
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 19:09:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 19:09:59.999000064,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 19:10:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 19:10:59.999000064,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 19:11:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 19:11:59.999000064,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 19:12:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 19:12:59.999000064,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 19:13:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 19:13:59.999000064,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 19:12:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 19:12:59.999000064,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 19:13:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 19:13:59.999000064,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 19:14:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 19:14:59.999000064,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 19:15:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 19:15:59.999000064,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 19:16:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 19:16:59.999000064,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [16]:
btcusdt_df['open_time'] = pd.to_datetime(btcusdt_df['open_time'], format='%Y-%m-%d %H:%M:%S')
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 19:09:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 19:09:59.999000064,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 19:10:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 19:10:59.999000064,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 19:11:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 19:11:59.999000064,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 19:12:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 19:12:59.999000064,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 19:13:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 19:13:59.999000064,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 19:12:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 19:12:59.999000064,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 19:13:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 19:13:59.999000064,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 19:14:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 19:14:59.999000064,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 19:15:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 19:15:59.999000064,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 19:16:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 19:16:59.999000064,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [17]:
btcusdt_df['close_time'] = pd.to_datetime(btcusdt_df['close_time'], format='%Y-%m-%d %H:%M:%S')
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 19:09:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 19:09:59.999000064,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 19:10:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 19:10:59.999000064,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 19:11:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 19:11:59.999000064,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 19:12:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 19:12:59.999000064,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 19:13:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 19:13:59.999000064,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 19:12:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 19:12:59.999000064,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 19:13:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 19:13:59.999000064,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 19:14:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 19:14:59.999000064,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 19:15:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 19:15:59.999000064,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 19:16:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 19:16:59.999000064,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [18]:
btcusdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049843 entries, 0 to 1049842
Data columns (total 12 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   open_time                     1049843 non-null  datetime64[ns]
 1   open                          1049843 non-null  float64
 2   high                          1049843 non-null  float64
 3   low                           1049843 non-null  float64
 4   close                         1049843 non-null  float64
 5   volume                        1049843 non-null  float64
 6   close_time                    1049843 non-null  datetime64[ns]
 7   quote_asset_volume            1049843 non-null  float64
 8   number_of_trades              1049843 non-null  float64
 9   taker_buy_base_asset_volume   1049843 non-null  float64
 10  taker_buy_quote_asset_volume  1049843 non-null  float64
 11  ignore                        1049843 non-null  int64
dtypes: datetime64[ns](2), float64(9), int64(1)
memory usage: 96.1 MB

In [19]:
btcusdt_df['open_time'] = btcusdt_df['open_time'].dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 14:09:00-05:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 19:09:59.999000064,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 14:10:00-05:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 19:10:59.999000064,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 14:11:00-05:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 19:11:59.999000064,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 14:12:00-05:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 19:12:59.999000064,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 14:13:00-05:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 19:13:59.999000064,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 14:12:00-05:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 19:12:59.999000064,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 14:13:00-05:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 19:13:59.999000064,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 14:14:00-05:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 19:14:59.999000064,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 14:15:00-05:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 19:15:59.999000064,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 14:16:00-05:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 19:16:59.999000064,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [21]:
btcusdt_df['close_time'] = btcusdt_df['close_time'].dt.tz_localize('UTC').dt.tz_convert('US/Eastern')
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 14:09:00-05:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 14:09:59.999000064-05:00,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 14:10:00-05:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 14:10:59.999000064-05:00,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 14:11:00-05:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 14:11:59.999000064-05:00,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 14:12:00-05:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 14:12:59.999000064-05:00,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 14:13:00-05:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 14:13:59.999000064-05:00,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 14:12:00-05:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 14:12:59.999000064-05:00,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 14:13:00-05:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 14:13:59.999000064-05:00,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 14:14:00-05:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 14:14:59.999000064-05:00,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 14:15:00-05:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 14:15:59.999000064-05:00,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 14:16:00-05:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 14:16:59.999000064-05:00,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [22]:
btcusdt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1049843 entries, 0 to 1049842
Data columns (total 12 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   open_time                     1049843 non-null  datetime64[ns, US/Eastern]
 1   open                          1049843 non-null  float64
 2   high                          1049843 non-null  float64
 3   low                           1049843 non-null  float64
 4   close                         1049843 non-null  float64
 5   volume                        1049843 non-null  float64
 6   close_time                    1049843 non-null  datetime64[ns, US/Eastern]
 7   quote_asset_volume            1049843 non-null  float64
 8   number_of_trades              1049843 non-null  float64
 9   taker_buy_base_asset_volume   1049843 non-null  float64
 10  taker_buy_quote_asset_volume  1049843 non-null  float64
 11  ignore                        1049843 non-null  int64
dtypes: datetime64[ns, US/Eastern](2), float64(9), int64(1)
memory usage: 96.1 MB

In [23]:
btcusdt_df.reset_index(drop=True,inplace=True)
btcusdt_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 14:09:00-05:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 14:09:59.999000064-05:00,7.214486e+05,733.0,20.034791,3.176344e+05,0
1,2020-11-11 14:10:00-05:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 14:10:59.999000064-05:00,6.848593e+05,718.0,18.795452,2.976885e+05,0
2,2020-11-11 14:11:00-05:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 14:11:59.999000064-05:00,8.919803e+05,938.0,17.360259,2.746762e+05,0
3,2020-11-11 14:12:00-05:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 14:12:59.999000064-05:00,7.408392e+05,849.0,22.715319,3.596299e+05,0
4,2020-11-11 14:13:00-05:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 14:13:59.999000064-05:00,6.057827e+05,550.0,8.964647,1.419979e+05,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1049838,2022-11-11 14:12:00-05:00,16844.14,16847.51,16793.00,16803.38,247.516120,2022-11-11 14:12:59.999000064-05:00,4.162588e+06,6576.0,117.574960,1.977671e+06,0
1049839,2022-11-11 14:13:00-05:00,16801.58,16804.26,16771.27,16784.64,180.511560,2022-11-11 14:13:59.999000064-05:00,3.030156e+06,5502.0,85.876850,1.441585e+06,0
1049840,2022-11-11 14:14:00-05:00,16784.64,16815.59,16770.22,16788.85,177.237160,2022-11-11 14:14:59.999000064-05:00,2.975684e+06,6502.0,83.343530,1.399269e+06,0
1049841,2022-11-11 14:15:00-05:00,16788.85,16837.48,16788.05,16812.36,201.419320,2022-11-11 14:15:59.999000064-05:00,3.386130e+06,6771.0,94.994690,1.596958e+06,0
1049842,2022-11-11 14:16:00-05:00,16812.36,16833.01,16801.55,16821.05,135.948300,2022-11-11 14:16:59.999000064-05:00,2.286594e+06,4485.0,72.937850,1.226802e+06,0

In [24]:
btcusdt_df.head()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2020-11-11 14:09:00-05:00,15863.79,15863.79,15844.34,15846.36,45.504945,2020-11-11 14:09:59.999000064-05:00,721448.646407,733.0,20.034791,317634.449780,0
1,2020-11-11 14:10:00-05:00,15846.35,15848.35,15835.36,15839.97,43.238682,2020-11-11 14:10:59.999000064-05:00,684859.284441,718.0,18.795452,297688.465738,0
2,2020-11-11 14:11:00-05:00,15839.97,15839.98,15808.87,15816.68,56.367325,2020-11-11 14:11:59.999000064-05:00,891980.315430,938.0,17.360259,274676.225348,0
3,2020-11-11 14:12:00-05:00,15816.68,15845.46,15810.52,15828.86,46.799855,2020-11-11 14:12:59.999000064-05:00,740839.187743,849.0,22.715319,359629.946412,0
4,2020-11-11 14:13:00-05:00,15828.86,15845.63,15828.85,15841.83,38.239808,2020-11-11 14:13:59.999000064-05:00,605782.657620,550.0,8.964647,141997.855299,0

In [25]:
btcusdt_df.tail()

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
1049838,2022-11-11 14:12:00-05:00,16844.14,16847.51,16793.00,16803.38,247.51612,2022-11-11 14:12:59.999000064-05:00,4.162588e+06,6576.0,117.57496,1.977671e+06,0
1049839,2022-11-11 14:13:00-05:00,16801.58,16804.26,16771.27,16784.64,180.51156,2022-11-11 14:13:59.999000064-05:00,3.030156e+06,5502.0,85.87685,1.441585e+06,0
1049840,2022-11-11 14:14:00-05:00,16784.64,16815.59,16770.22,16788.85,177.23716,2022-11-11 14:14:59.999000064-05:00,2.975684e+06,6502.0,83.34353,1.399269e+06,0
1049841,2022-11-11 14:15:00-05:00,16788.85,16837.48,16788.05,16812.36,201.41932,2022-11-11 14:15:59.999000064-05:00,3.386130e+06,6771.0,94.99469,1.596958e+06,0
1049842,2022-11-11 14:16:00-05:00,16812.36,16833.01,16801.55,16821.05,135.94830,2022-11-11 14:16:59.999000064-05:00,2.286594e+06,4485.0,72.93785,1.226802e+06,0

In [26]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()
    
    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    
    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    
    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    
    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    
    # Print some summary information
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")
    
    # Return the dataframe with missing information
    return mis_val_table_ren_columns

missing_values_table(btcusdt_df)

Your selected dataframe has 12 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [27]:
btcusdt_df.describe()

,open,high,low,close,volume,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
count,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1049843.0
mean,3.802118e+04,3.804709e+04,3.799535e+04,3.802117e+04,6.957451e+01,2.161824e+06,1.621655e+03,3.443591e+01,1.068289e+06,0.0
std,1.354249e+04,1.355065e+04,1.353413e+04,1.354249e+04,1.070130e+02,2.817388e+06,1.871513e+03,5.439073e+01,1.457348e+06,0.0
min,1.549878e+04,1.552482e+04,1.544064e+04,1.549877e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,2.370907e+04,2.372617e+04,2.369029e+04,2.370903e+04,1.854695e+01,7.246683e+05,6.120000e+02,8.553720e+00,3.345975e+05,0.0
50%,3.871594e+04,3.874502e+04,3.869000e+04,3.871598e+04,3.585108e+01,1.353189e+06,1.001000e+03,1.724898e+01,6.523616e+05,0.0
75%,4.789907e+04,4.792999e+04,4.786802e+04,4.789910e+04,7.670436e+01,2.544289e+06,1.886500e+03,3.795998e+01,1.258474e+06,0.0
max,6.900000e+04,6.900000e+04,6.878670e+04,6.900000e+04,4.448796e+03,1.155494e+08,6.258400e+04,2.851740e+03,8.947551e+07,0.0

In [28]:
btcusdt_df['open_time'].describe()

count                       1049843
unique                      1049843
top       2020-11-11 14:09:00-05:00
freq                              1
first     2020-11-11 14:09:00-05:00
last      2022-11-11 14:16:00-05:00
Name: open_time, dtype: object

In [38]:
btcusdt_df['close_time'].describe()

count                                 1049843
unique                                1049843
top       2020-11-11 14:09:59.999000064-05:00
freq                                        1
first     2020-11-11 14:09:59.999000064-05:00
last      2022-11-11 14:16:59.999000064-05:00
Name: close_time, dtype: object

In [41]:
btcusdt_df.describe(include='all')

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
count,1049843,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1049843,1.049843e+06,1.049843e+06,1.049843e+06,1.049843e+06,1049843.0
unique,1049843,NaN,NaN,NaN,NaN,NaN,1049843,NaN,NaN,NaN,NaN,NaN
top,2020-11-11 14:09:00-05:00,NaN,NaN,NaN,NaN,NaN,2020-11-11 14:09:59.999000064-05:00,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN
first,2020-11-11 14:09:00-05:00,NaN,NaN,NaN,NaN,NaN,2020-11-11 14:09:59.999000064-05:00,NaN,NaN,NaN,NaN,NaN
last,2022-11-11 14:16:00-05:00,NaN,NaN,NaN,NaN,NaN,2022-11-11 14:16:59.999000064-05:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,3.802118e+04,3.804709e+04,3.799535e+04,3.802117e+04,6.957451e+01,NaN,2.161824e+06,1.621655e+03,3.443591e+01,1.068289e+06,0.0
std,NaN,1.354249e+04,1.355065e+04,1.353413e+04,1.354249e+04,1.070130e+02,NaN,2.817388e+06,1.871513e+03,5.439073e+01,1.457348e+06,0.0
min,NaN,1.549878e+04,1.552482e+04,1.544064e+04,1.549877e+04,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0
25%,NaN,2.370907e+04,2.372617e+04,2.369029e+04,2.370903e+04,1.854695e+01,NaN,7.246683e+05,6.120000e+02,8.553720e+00,3.345975e+05,0.0
50%,NaN,3.871594e+04,3.874502e+04,3.869000e+04,3.871598e+04,3.585108e+01,NaN,1.353189e+06,1.001000e+03,1.724898e+01,6.523616e+05,0.0
75%,NaN,4.789907e+04,4.792999e+04,4.786802e+04,4.789910e+04,7.670436e+01,NaN,2.544289e+06,1.886500e+03,3.795998e+01,1.258474e+06,0.0
max,NaN,6.900000e+04,6.900000e+04,6.878670e+04,6.900000e+04,4.448796e+03,NaN,1.155494e+08,6.258400e+04,2.851740e+03,8.947551e+07,0.0

count                       1049843
unique                      1049843
top       2020-11-11 14:09:00-05:00
freq                              1
first     2020-11-11 14:09:00-05:00
last      2022-11-11 14:16:00-05:00
Name: open_time, dtype: object